<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Friend - ${friend.name}</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>${friend.name}</h1>
  <h3>${friend.handle}</h3>
  <p>${friend.description}</p>

  <p>
    <a href="/editfriend/${friend.handle}">Edit</a> | <a id="deleteButton" href="/deletefriend/${friend.handle}">Delete</a>
  </p>

  <a href="/friends">&larr; Back</a>
  <script src="/profile.js"></script>
</body>
</html>